body{
margin: 1%;
padding: 1%;
}
header{
	text-align: center;
	/*font-variant: small-caps;*/
	color: #ffffff;
	width: 100%;
	padding: 1%;

}
header h1{
	font-variant: small-caps;
	color:white;
}
nav a{
	display: inline-block;
	padding: 1%;
	width: 12%;
	height: 7%;
	min-height: 5%;
	max-height: 5%;
	border: #ffffff solid 0px;
	margin: 1% 4%;
	background-color: rgba(255,255,255,0.4);
	text-decoration: none;
	border-radius: 4px
}
.mypage{
	background-color: rgba(255,255,255,1);
}
nav a:active{
	background-color: #ffffff;
}
section{
	display: inline-block;
	float: left;
}
.asideleft{
	background-color: #4c7507;
	width: 25%;
	position: absolute;
	left: 5.5%;
}
.asideleft img{
	
	width: 90%;
	display: block;
	margin: 5%;

}
.content {
	float: right;
	position: absolute;
	left: 31%;
	margin: 1%;
	/*border: #ffffff solid 0px;
	overflow: auto;*/
}
table{
	margin: 5% 10%;
	border:#ffffff hidden 2px;
	text-align: center;
	padding:2% 5%;
}
tr{
	opacity: 0.7;
}
tr:hover{
	opacity:1;
}
th,td{
	font-family: arial;

}
td{
	background-color: rgb(185,218,131);
	text-align: center;
	border: #ffffff solid 2px;
	padding: 2%;
}
th{
	border: #ffffff solid 2px;
	padding: 2%;
	border-bottom:#a3e932 solid 4px;
	background-color: rgb(59,91,5);
	border-color: #a3e932;
	border-top-right-radius:5%; 
	border-top-left-radius:5%;
	color:#ffffff;
	text-align: center;
}
th:first-child , td:first-child{
	text-align: left;
}
